@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(pokedex.css);


* {
  font-family: "Roboto", sans-serif;;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.content{
  padding: 1rem;
  background-color: lightgray;
}

@media screen and (min-width: 992px){
  .content{
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

